* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  list-style: none;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  height: 40px;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 17px 11%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

  transition: all 0.45s ease;
}

.logo img {
  width: 100%;
  height: 200px;
  margin-top: 30px;
  transition: all 0.45s ease;
}

.navbar {
  display: flex;
  position: relative;
  left: 10px;
  transition: all 0.45s ease;
}
.navbar li {
  transition: all 0.45s ease;
}
.navbar a {
  font-size: 15px;
  color: var(--other-color);
  font-weight: 400;
  padding: 15px;

  /* background: transparent; */
  border-radius: 30px;
  transition: all 0.45s ease;
}
.navbar :hover {
  color: #100567;
  font-weight: 800;
  /* background-color: aliceblue; */
}

.icons {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.icons i {
  height: 50px;
  width: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--other-color);
  font-size: 22px;
  margin-right: 25px;
  margin-left: 10px;
  transition: all 0.45s ease;
}

.icons i:hover {
  transform: scale(0.9);
}

.menu-btn {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu-btn {
    display: block;
    align-items: center;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    background: white;
    flex-direction: column;
    align-items: right;
    gap: 20px;
    padding: 20px 0;

    display: none;
  }

  .navbar.active {
    display: flex;
  }
}
/* home section */
.hero{
display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
padding:80px 8%;
gap:40px;
  transition: all 0.45s ease;
  background-color: #fff;
}
.hero-text h1{
font-size:48px;
line-height:1.2;
margin-bottom:20px;
  transition: all 0.45s ease;
}
.hero-text p{
font-size:16px;
color:#555;
margin-bottom:30px;
  transition: all 0.45s ease;
}
.btn{
display:inline-block;
padding:12px 30px;
background:black;
color:#fff;
border-radius:30px;
transition:.3s;
}
.btn:hover{ background:white; color: black; border: 1px solid black; }
.hero-img img{
width:100%;
border-radius:20px;
}
@media(max-width:900px){
.hero{ grid-template-columns:1fr; }
.hero-text h1{ font-size:38px; }
}